<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<section id="container">

  <header class="clearfix">
    <div><h1>Флэшкарточкер</h1></div>
    <ul class="navigation-links">
      <li><%= link_to 'Все карточки', cards_path %> </li>
      <li><%= link_to 'Добавить карточку',  new_card_path %></li>
      <li><%= link_to 'Колоды',  decks_path %></li>
    </ul>

    <% if current_user %>
        <div>
          <div>Logged in as <%= current_user.email %>.</div>
          <% if current_user.current_deck %>
            <div>Current deck is <%= current_user.current_deck.title %></div>
          <% else %>
            <div> Current deck is not selected </div>
          <% end %>
          <div><%= link_to 'Настройки пользователя',  edit_user_path(current_user) %></div>
          <div><%= link_to 'Log out', logout_path %></div>
        </div>
    <% else %>
        <div>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", login_path %>.
        </div>
    <% end %>
  </header>

  <%= yield %>
  <%= render partial: "shared/flash_messages" %>

</section>
</body>

</html>
