<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<section id="container">

  <header class="clearfix">
    <h1>Флэшкарточкер</h1>
    <ul class="navigation-links">
      <li><%= link_to 'Все карточки', cards_path %> </li>
      <li><%= link_to 'Добавить карточку',  new_card_path %></li>
    </ul>
  </header>

  <%= yield %>

</section>
</body>

</html>
